@*@using StudentManagement.Models*@
@model StudentManagement.Models.Student
@{
    
    //ViewData["Model"] = model;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    @{
        //var student = ViewData["Model"] as Student;
    }
    <div>姓名：@Model.Name</div>
    <div>班级：@Model.ClassName</div>
    <div>邮箱：@Model.Email</div>
</body>
</html>


