@model IEnumerable<StudentManagement.Models.Student>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学生列表页";
}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名字</th>
                <th>邮箱</th>
                <th>班级名称</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var str in Model)
            {
                <tr>
                    <td>@str.Id</td>
                    <td>@str.Name</td>
                    <td>@str.Email</td>
                    <td>@str.ClassName</td>
                </tr>
            }
        </tbody>
    </table>


